@charset "UTF-8";

* {
	font-family : Helvetica;
}

nav > ul {
	list-style: none;
	position: relative;
}

li {
	list-style: none;
	disply: inline-block;
	float: left;
	width: 20%;
	height: 30px;	
}

table {
	border-line: 1px;
}
